{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
<form action="" method="post"style="padding:20px;">
    {% csrf_token %}
    <div class="login-container">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" name="password" id="password" placeholder="Enter Your password" required>
        </div><br>
        <div class="form-group">
            <input type="submit" value="Login">
        </div>
    </div>
</form>
{% endblock %}
</body>
