{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <br>
    <link rel="stylesheet" href="{% static 'css/create_blog_style.css' %}">
    <div class="blog-form-container" >
    <h2>Create New Blog Post</h2><br>
    <form action="{% url 'create_blog' %}" method="post" style="margin-bottom:20px;">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name='title' class="custom-input" placeholder="Blog title">
        </div><br>
        <div class="form-group">
            <textarea name="blog_body" cols="30" rows="10" class="custom-textarea" placeholder="Blog Body..."></textarea>        
        </div>
        <div class="form-group">
            <input type="file" name="blog-image" id="blog-image">
        </div><br>
        <div class="form-group">
            <input type="submit" value="Create Blog">
        </div>
    </form>

</div>

{% endblock %}
</body>